@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --clr-pink: hsl(322, 100%, 66%);
    --clr-pale-cyan: hsl(193, 100%, 96%);
    --clr-dark-cyan: hsl(192, 100%, 9%);
    --clr-blue: hsl(208, 11%, 55%);
    --fw-light: 400;
    --fw-media: 600;
    --fw-heavy: 700;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--clr-dark-cyan);
    font-size: 18px;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.btn {
    padding: 1em;
    border: none;
    border-radius: 20px;
    background: none;
    font-weight: var(--fw-heavy);

    &.btn-primary {
      background: white;
      padding: .5em 2em;
      font-size: .6em;  
    }

    &.btn-accent {
        background: var(--clr-pink);
        color: white;
        font-size: 0.8rem;
        font-weight: var(--fw-heavy);
        border-radius: 30px;
        margin: 1em 0 4em;
        padding: 1.5em;
    }
}

.hero {
    padding: 2em 1em;
    background-color: var(--clr-pale-cyan);
    background-image: url(images/bg-hero-mobile.svg);
    background-size: cover;
    text-align: center;
    


    .logo {
        width: 8rem;
        float: left;
    }
    
    .btn-primary {
        float: right;
        box-shadow: 0 4px 4px rgba(173, 227, 243, 0.5), 0 10px 10px rgba(173, 227, 243, 0.5);
    }

    .page-title {
        margin-top: 4em;
    }

    .btn-accent {
        width: 80%;   
    }
}

.cards {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;

    .card {
        font-size: 1rem;
        margin-bottom: 3em;
        box-shadow: 0px 0px 10px rgba(119, 125, 128, 0.3);
        border-radius: 10px;
        text-align: center;
        padding: 6em 4em 2em;   
    }

    h2 {
        margin-top: 2em;
        font-size: 1.2rem;
    }

    p {
        color: var(--clr-blue);
        line-height: 1.6;
        font-weight: var(--fw-light);
    }
}

.call-to-action {
    background: white;
    box-shadow: 0px 0px 10px rgba(119, 125, 128, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 1.5em;
    margin: 0 1em;
    transform: translateY(40%);

    .call-title {
        font-size: 1rem;
        color: var(--clr-dark-cyan);
    }

    .btn {
        margin: 2em 0 1em;
        width: 70%;
        padding: 1em;
        box-shadow: 2px 3px 3px rgba(119, 125, 128, 0.3);
    }
}    



footer {
    background: var(--clr-dark-cyan);
    color: white;
    padding: 7em 1em 1em;
    

    .footer-details {
        display: flex;
        flex-direction: column;
        font-size: 1rem;

        .contact {
            display: flex;
            flex-direction: column;

            .footer-logo {
                width: 10rem;
                margin-bottom: 1em;
            }

            .contact-item {
                margin: .75em 0; 
                display: flex;
                flex-direction: row;
                align-items: flex-start;

                p {
                    margin: 0 0 0 1.5em;
                }

                img {
                    margin-top: .25em;
                }
            }
        }


        .links {

            ul {
            margin: 2em 0;
            padding: 0;
            }

            li {
                line-height: 2.5;
                list-style: none;
            }
        }

        .social-icons {
            display: flex;
            flex-direction: row;
            margin: 0 auto;

            .fab {
                width: 2rem;
                margin: 0 .5em;
                border: 1px solid white;
                border-radius: 20px;
                padding: .5em;
            }
        }

        
    }

    .copyright {
        font-size: 0.8rem;
        width: max-content;
        margin: 1.5em auto;
    }


}

@media (min-width: 650px) {
    .hero {
        height: 100vh;
        padding: 2em 3em;

        .logo {
            width: 10rem;
            float: left;
        }

        .container {
            margin-top: 6em;
            width: 100%;
            display: flex;
            align-items: center;
            text-align: left;
            
        }

        .right, .left {
            flex: 1;
        }

        .left {
            max-width: 50%;
            margin-right: 2em;

            .page-title {
                max-width: 60%;
            }
        }

        img {
            width: 100%;
        }

    }

    .cards {
        margin: 6em 5.5em 1em;
    }

    .card {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        
        .card-details, .img {
            flex: 1;
            text-align: left;
        }

        img {
            width: 80%;
        }
    }

    .card-reverse {
        flex-direction: row;
    }

    .call-to-action {
        width: 50%;
        margin: 0 auto;
    }

    footer 
      {
      padding: 5.5em;

    .footer-details {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-items: flex-start;
    

    .contact {
        font-size: 1rem;  
        max-width: 40%;
    }

    .links > ul {
        margin: 2.5em 2em;
        column-count: 2;
        column-gap: 3.5em;

        li {
            font-size: 1rem;  
        }
    }

    .social-icons {
        margin-top: 2.5rem;
    }

    }
    }

    .copyright {
        float: right;
    }
}